.about {
  display: grid;
  width: 100%;
  padding: 6px 0;

  grid-column-gap: 10%;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-width) {
    grid-column-gap: 16%;
  }

  @media (max-width: $mobile-width) {
    grid-row-gap: 29px;
    grid-template-columns: 1fr;
  }
}

.about__list {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-row-gap: 21px;
  grid-template-columns: 1fr;

  @media (max-width: $tablet-width) {
    padding: 6px 0;
  }
}

.about__item {
  width: max-content;
}

.about__link {
  display: flex;

  &:hover {
    color: $color-brown;
  }

  &:active {
    text-decoration: underline;
  }
}
