.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 970px;
  margin: 0 auto;
  padding-top: 119px;

  @media (max-width: $tablet-width) {
    padding-top: 69px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 62px;
  }
}

.faq__title {
  margin: 0;
  margin-bottom: 49px;

  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  font-family: $font-family--cormorant-garamond;
  text-align: center;
  color: $color-special-black;
  letter-spacing: 0.03em;

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
  }
}

.faq__list {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  font-style: normal;
  font-family: $font-family--poppins;
  color: $color-special-black;

  border: 1px solid $color-brown;

  grid-template-columns: 1fr;
}

.faq__item {
  border-bottom: 1px solid $color-brown;

  &:last-child {
    border-bottom: none;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.faq__question {
  width: 100%;
  margin: 0;
  padding: 44px 42px 43px;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: left;

  background-color: transparent;
  border: none;

  @media (max-width: $tablet-width) {
    padding-left: 48px;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 23px 20px;
    padding-right: 55px;

    font-size: 16px;
  }

  &::after {
    top: 51px;
    right: 49px;

    @media (max-width: $tablet-width) {
      top: 48px;
      right: 51px;
    }

    @media (max-width: $mobile-width) {
      top: 22px;
      right: 25px;
    }
  }
}

.faq__question--open {
  &::after {
    position: absolute;
  }
}

.faq__question--close {
  &::after {
    position: absolute;

    transform: rotate(-180deg);
  }
}

.faq__answer {
  max-width: 527px;
  margin: -35px 0 43px 49px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $tablet-width) {
    max-width: 530px;
    margin-top: -17px;
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    max-width: 71%;
    margin-top: -7px;
    margin-bottom: 17px;
    margin-left: 23px;

    font-size: 14px;
  }
}
