.filter {
  position: relative;

  display: flex;
  width: 100%;

  font-style: normal;
  font-weight: 500;
  font-family: $font-family--poppins;
  color: $color-special-black;
}

.filter-overlay {
  display: flex;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.filter-overlay.is-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;

  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: auto;

  background-color: $color-white;

  .filter {
    width: 442px;

    @media (max-width: $mobile-width) {
      width: 270px;
    }
  }

  form {
    padding-bottom: 15px;

    box-shadow: 0 5px 32px rgba($color-shadow, 0.24);
  }

  .filter__main-list {
    border: none;
  }

  .filter__main-list > li {
    border-bottom: 1px solid $color-brown;
  }

  .filter__button {
    width: 362px;
    margin: 0 auto 25px;

    @media (max-width: $mobile-width) {
      width: 230px;
    }
  }
}

.filter__button-close {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: -16px;
    right: -16px;

    display: flex;
    width: 32px;
    height: 32px;

    background-color: $color-special-black;
    background-image: url("../img/svg/close-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px 1px $color-grey;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.filter__form {
  width: 100%;
}

.filter__form form {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: $color-white;
}

.filter__main-list {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;

  border: 1px solid $color-brown;
}

.filter__main-list > li {
  border-bottom: 1px solid $color-brown;

  &:last-child {
    border-bottom: none;
  }
}

.filter__title {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 22px 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    top: 28px;
    right: 24px;
  }
}

.filter__list {
  display: grid;
  margin: 0 34px 27px;
  padding: 0;

  list-style: none;

  grid-row-gap: 11px;
  grid-template-columns: 1fr;
}

.filter__item {
  display: flex;
}

.filter__item label {
  position: relative;

  padding: 3px;
  padding-left: 25px;

  font-size: 14px;
  line-height: 14px;

  cursor: pointer;
}

.filter__item input + label {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 15px;
    height: 15px;

    border: 1px solid $color-brown;
  }
}

.filter__item input:disabled + label {
  opacity: 0.3;
}

.filter__item input:checked + label {
  &::before {
    background-color: $color-brown;
  }
}

.filter__cost {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 354px;
  margin-top: -4px;
  padding: 9px 25px 49px;
}

.filter__scale {
  width: 100%;
  height: 1px;

  background-color: $color-light-orange;
}

.filter__bar {
  width: 50%;
  height: 1px;
  margin: 0 auto;

  background-color: $color-brown;
}

.filter__toggle {
  position: absolute;
  top: 2px;

  display: flex;
  flex-direction: column;
  width: 15px;
  height: 15px;
  padding: 0;

  background-color: $color-brown;
  border-radius: 50%;
  cursor: pointer;

  span {
    position: absolute;
    top: 22px;
    left: -10px;

    display: flex;
    width: max-content;

    font-size: 14px;
  }
}

.filter__toggle--min {
  left: 28%;
}

.filter__toggle--max {
  left: 70%;
}

.filter__button {
  width: 100%;
  padding: 25px;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.filter__button--submit {
  margin-bottom: 25px;

  color: $color-white;

  background-color: $color-brown;
  border: none;
}

.filter__button--reset {
  padding: 24px;

  background-color: $color-white;
  border: 1px solid $color-brown;
}
