.footer {
  padding: 90px 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: $font-family--poppins;
  color: $color-white;

  background-color: $color-black;

  @media (max-width: $tablet-width) {
    padding: 49px 0;
  }
}

.footer__wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1%;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-row-gap: 10%;
  }

  @media (max-width: $tablet-width) {
    grid-row-gap: 34px;
  }
}

.footer__info-block {
  display: grid;
  width: 100%;

  grid-template-columns: 4fr 1fr;
  grid-column-gap: 5%;

  @media (max-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3%;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-row-gap: 23px;
  }
}
