.header {
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 9px;

  font-style: normal;
  font-weight: 500;
  font-family: $font-family--poppins;
  color: $color-special-black;

  @media (max-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.header.is-js {
  @media (max-width: $tablet-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 20;

    overflow-y: scroll;

    color: $color-white;

    background-color: $color-brown;

    .header__logo {
      color: $color-white;
    }

    .header__toggle-menu {
      width: 25px;
      height: 20px;

      background-image: url("../img/svg/close-menu.svg");
      background-repeat: no-repeat;
    }

    .header__form-search form {
      background: rgba($color-white, 0.15);
    }

    .header__form-search button {
      color: $color-white;
    }
  }
}

.header__upper-block {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 19px;

  font-size: 14px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    align-items: center;
    padding-bottom: 0;
  }
}

.header__lower-block {
  padding-top: 7px;

  border-top: 1px solid $color-special-white;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 29px;

    border-top: none;
  }
}

.header__lower-block.block-close {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__toggle-menu {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    align-self: center;
    width: 25px;
    height: 18px;
    padding: 0;

    background-color: transparent;
    background-image: url("../img/svg/open-menu.svg");
    border: none;
    cursor: pointer;
  }
}

.header__toggle-menu.no-js {
  opacity: 0;
}

.header__logo {
  display: flex;

  color: $color-brown;

  @media (max-width: $mobile-width) {
    svg {
      width: 52px;
      height: 52px;
    }
  }
}

.header__logo--login {
  width: 66px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__form-search {
  display: flex;
  order: -1;
  width: 174px;
  margin-top: 9px;

  @media (max-width: $tablet-width) {
    order: 0;
    width: 100%;
    margin-top: 40px;
  }
}

.header__form-search.block-close {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__form-search form {
  display: flex;
  align-items: flex-start;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding: 7px;

    background: rgba($color-black, 0.15);
    border-radius: 21px;
  }
}

.header__form-search button {
  display: flex;
  padding: 5px 10px 5px 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    color: $color-brown;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    padding: 5px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.header__form-search label {
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    color: $color-brown;
  }
}

.header__form-search input {
  width: 150px;
  padding: 5px;

  border: none;

  &::placeholder {
    color: $color-grey;

    @media (max-width: $tablet-width) {
      color: transparent;
    }
  }

  &:hover,
  &:focus {
    border-radius: 3px;
    outline: solid 2px $color-brown;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    background-color: transparent;
    border-radius: 15px;

    &:focus {
      border-radius: 15px;
    }
  }
}
