// Fonts

$font-family--cormorant-garamond: "Cormorant Garamond", "Times", serif;
$font-family--poppins: "Poppins", "Arial", sans-serif;

// Colors

$color-white: #ffffff;
$color-special-white: #f6f5f4;
$color-light-orange: #f0eae4;
$color-black: #000000;
$color-special-black: #1d1613;
$color-grey: #9b9997;
$color-brown: #a87b62;
$color-shadow: #e2ddd7;
$color-red: #ff0000;

// Width

$desktop-light-width: 1299px;
$tablet-width: 1023px;
$mobile-width: 767px;
